.btn-primary {
    background-color: #E1332D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }

  .btn-primary:hover{
    cursor: pointer;
    background: #e1332d
  }